body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
.container {
    text-align: center;
    background-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    
    
}
h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
p {
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}
.curseforge-btn {
    background-color: #f16436;
    padding: 1rem;
}
.curseforge-btn:hover {
    background-color: #d9592f;
}
.modrinth-btn {
    background-color: #1bd96a;
    padding: 1rem;
}
.modrinth-btn:hover {
    background-color: #17c35f;
}
